<section class="about container">
  <meta name="robots" content="about-me" />
  <div class="about-conteiner">
    <div class="about-conteiner-fortext">
      <p class="about-conteiner-text">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE IMPRESSIVE AND
        <span class="about-conteiner-text-span">FUNCTIONAL</span>
        <span class="about-conteiner-text-span1">WEBSITE</span> THAT REFLECT
        EACH CLIENT`S UNIQUE PERSONALITY.
      </p>
    </div>
    <div class="about-conteiner-img">
      <picture>
        <source
          type="image/png"
          srcset="
            ./img/about-me/image-tablet-desktop@1x_result.png 1x,
            ./img/about-me/image-tablet-desktop@2x_result.png 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ./img/about-me/image-tablet-desktop@1x_result_result.webp 1x,
            ./img/about-me/image-tablet-desktop@2x_result_result.webp 2x
          "
        />
        <source
          type="image/png"
          srcset="
            ./img/about-me/image@1_result.png  1x,
            ./img/about-me/image@2x_result.png 2x
          "
        />
        <source
          type="image/webp"
          srcset="
            ./img/about-me/image@1_result_result.webp  1x,
            ./img/about-me/image@2x_result_result.webp 2x
          "
        />
        <img
          src="./img/about-me/image-tablet-desktop@1x_result.png"
          alt="boy"
        />
      </picture>
    </div>
  </div>

  <div class="about-con">
    <ul class="about-con-list">
      <li class="about-con-list-iteam">
        <div class="about-con-list-iteam-sec">
          <h3 class="about-con-list-iteam-title">ABOUT ME</h3>
          <div class="about-con-list-iteam-sec-icon">
            <svg class="arrow-up" width="20" height="20">
              <use href="./img/icons/icon.svg#arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="about-con-list-iteam-id">
          <p class="about-con-list-iteam-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-con-list-iteam-text1">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
        <hr />
      </li>
      <li class="about-con-list-iteam">
        <div class="about-con-list-iteam-pos">
          <h3 class="about-con-list-iteam-title">ROLE</h3>
          <div class="about-con-list-iteam-sec-icon">
            <svg class="arrow-up" width="20" height="20">
              <use href="./img/icons/icon.svg#arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="about-con-list-iteam-id">
          <p class="about-con-list-iteam-text21">Frontend development</p>
          <p class="about-con-list-iteam-text22">HeadlessCMS,Wordpress</p>
          <p class="about-con-list-iteam-text23">Blender(enjoy)</p>
        </div>
      </li>
      <hr />

      <li class="about-con-list-iteam">
        <div class="about-con-list-iteam-pos">
          <h3 class="about-con-list-iteam-title">EDUCATION</h3>
          <div class="about-con-list-iteam-sec-icon">
            <svg class="arrow-up" width="20" height="20">
              <use href="./img/icons/icon.svg#arrow-down"></use>
            </svg>
          </div>
        </div>
        <div class="about-con-list-iteam-id">
          <p class="about-con-list-iteam-text31">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="about-con-list-iteam-text32">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </p>
          <p class="about-con-list-iteam-text33">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
      <hr />
    </ul>
  </div>
  <div class="about-skills">
    <ul class="about-skills-list">
      <div class="about-skills-list-div">HTML/CSS</div>
      <div class="about-skills-list-div">JavaScript</div>
      <div class="about-skills-list-div">React</div>
      <div class="about-skills-list-div">Node.js</div>
      <div class="about-skills-list-div">React Native</div>
      <div class="about-skills-list-div">Soft skills</div>
    </ul>
    <svg
      class="about-skills-list-svg"
      xmlns="http://www.w3.org/2000/svg"
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
    >
      <path
        d="M6.66675 20H33.3334"
        stroke="#3B3B3B"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M23.3333 10L33.3333 20L23.3333 30"
        stroke="#3B3B3B"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
</section>
