<section class="container ben-container">
  <h2 class="benefits">BENEFITS WORKING WITH ME</h2>
  <div class="benefits-block"><ul class="ben-list">
    <li class="ben-list-card">

         <div class="ben-svg-icon"> <svg class="svg-icon" width="24" height="24" fill="transparent" stroke="white">
                        <use href="./img/icons/icon.svg#user-01">
                          
                        </use>
                      </svg></div>
      <h3 class="ben-li-title">Expertise</h3>
      <p class="ben-text">
        As a highly experienced developer, I have deep knowledge of programming
        and website development.
      </p>
    </li>
    <li class="ben-list-card">

        <div class="ben-svg-icon">  <svg class="svg-icon" width="24" height="24" fill="transparent" stroke="white" >
                        <use href="./img/icons/icon.svg#whatsapp">
                          
                        </use>
                      </svg></div>
      <h3 class="ben-li-title">Communication</h3>
      <p class="ben-text">
        Understanding your needs and wants is my priority and I am always open
        to discussions and corrections.
      </p>
    </li>
    <li class="ben-list-card">

          <div class="ben-svg-icon">
            <svg class="svg-icon"  width="24" height="24" fill="transparent" stroke="white">
                        <use href="./img/icons/icon.svg#paint-brush">
                          
                        </use>
                      </svg></div>
      <h3 class="ben-li-title">Art</h3>
      <p class="ben-text">
        Thanks to my creative nature, I am ready to accept challenges and help
        you bring your ideas to life.
      </p>
    </li>
    <li class="ben-list-card">

         <div class="ben-svg-icon"> <svg class="svg-icon" width="24" height="24" fill="transparent" stroke="white">
                        <use href="./img/icons/icon.svg#watch">
                          
                        </use>
                      </svg></div>
      <h3 class="ben-li-title">Urgent execution</h3>
      <p class="ben-text">
        I understand how important time is to you. Ready to work quickly and
        efficiently, without reducing the quality of work.
      </p>
    </li>
  </ul>

<button class="ben-btn"><a class="link-order" href="#work-together" >Order the project</a></button> </div>
</section>
