<section class="CoversSection">
  <h2 class="VisuallyHidden">Gallery of projects</h2>
  <div class="CoverBgContainer container">
    <div class="CoversProjectContainer">
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle8@1x_result.png 1x,
                  ./img/covers/Rectangle8@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle8@1x_result_result.webp 1x,
                  ./img/covers/Rectangle8@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle8@1x_result.png"
                alt="Project 3"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle4@1x_result.png 1x,
                  ./img/covers/Rectangle4@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle4@1x_result_result.webp 1x,
                  ./img/covers/Rectangle4@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle4@1x_result.png"
                alt="Project 7"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle10@1x_result.png 1x,
                  ./img/covers/Rectangle10@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle10@1x_result_result.webp 1x,
                  ./img/covers/Rectangle10@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle10@1x_result.png"
                alt="Project 1"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle7@1x_result.png 1x,
                  ./img/covers/Rectangle7@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle7@1x_result_result.webp 1x,
                  ./img/covers/Rectangle7@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle7@1x_result.png"
                alt="Project 2"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle4@1x_result.png 1x,
                  ./img/covers/Rectangle4@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle4@1x_result_result.webp 1x,
                  ./img/covers/Rectangle4@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle4@1x_result.png"
                alt="Project 7"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle9@1x_result.png 1x,
                  ./img/covers/Rectangle9@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle9@1x_result_result.webp 1x,
                  ./img/covers/Rectangle9@1x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle9@1x_result.png"
                alt="Project 4"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle11@1x_result.png 1x,
                  ./img/covers/Rectangle11@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle11@1x_result_result.webp 1x,
                  ./img/covers/Rectangle11@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle11@1x_result.png"
                alt="Project 5"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle6@1x_result.png 1x,
                  ./img/covers/Rectangle6@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle6@1x_result_result.webp 1x,
                  ./img/covers/Rectangle6@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle6@1x_result.png"
                alt="Project 6"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle7@1x_result.png 1x,
                  ./img/covers/Rectangle7@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle7@1x_result_result.webp 1x,
                  ./img/covers/Rectangle7@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle7@1x_result.png"
                alt="Project 2"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle7@1x_result.png 1x,
                  ./img/covers/Rectangle7@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle7@1x_result_result.webp 1x,
                  ./img/covers/Rectangle7@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle7@1x_result.png"
                alt="Project 2"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle12@1x_result.png 1x,
                  ./img/covers/Rectangle12@1x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle12@1x_result_result.webp 1x,
                  ./img/covers/Rectangle12@1x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle12@1x_result.png"
                alt="Project 9"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle4@1x_result.png 1x,
                  ./img/covers/Rectangle4@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle4@1x_result_result.webp 1x,
                  ./img/covers/Rectangle4@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle4@1x_result.png"
                alt="Project 7"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle9@1x_result.png 1x,
                  ./img/covers/Rectangle9@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle9@1x_result_result.webp 1x,
                  ./img/covers/Rectangle9@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle9@1x_result.png"
                alt="Project 8"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle9@1x_result.png 1x,
                  ./img/covers/Rectangle9@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle9@1x_result_result.webp 1x,
                  ./img/covers/Rectangle9@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle9@1x_result.png"
                alt="Project 4"
              />
            </picture>
          </div>
        </li>
      </ul>
      <ul class="CoversProjectList">
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle7@1x_result.png 1x,
                  ./img/covers/Rectangle7@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle7@1x_result_result.webp 1x,
                  ./img/covers/Rectangle7@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle7@1x_result.png"
                alt="Project 2"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/firstscreen1@1x_result.png 1x,
                  ./img/covers/firstscreen1@2x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/firstscreen1@1x_result_result.webp 1x,
                  ./img/covers/firstscreen1@2x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/firstscreen1@1x_result.png"
                alt="Project 10"
              />
            </picture>
          </div>
        </li>
        <li>
          <div class="CoversImgContainer">
            <picture class="CoversImg">
              <source
                type="image/png"
                srcset="
                  ./img/covers/Rectangle12@1x_result.png 1x,
                  ./img/covers/Rectangle12@1x_result.png 2x
                "
              />
              <source
                type="image/webp"
                srcset="
                  ./img/covers/Rectangle12@1x_result_result.webp 1x,
                  ./img/covers/Rectangle12@1x_result_result.webp 2x
                "
              />
              <img
                src="./img/covers/Rectangle12@1x_result.png"
                alt="Project 9"
              />
            </picture>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
