<section class="section header-section">
  <div class="container header-container">
    <nav class="header-nav">
      <div class="logo-menu-box">
        <div class="logo-box">
          <img
            srcset=""
            class="logo-photo"
            src=""
            alt="logo-photo"
            width="80"
            height="80"
          />
          <a class="header-logo" href="#home">
            <svg class="header-icon" width="84" height="19">
              <use href="#logo"></use>
            </svg>
          </a>
        </div>

        <button type="button" class="open-mobile-menu" aria-label="Open menu">
          <svg class="open-menu-icon" width="28" height="28">
            <use href="#mobile-menu"></use>
          </svg>
        </button>
      </div>

      <div class="menu">
        <p class="menu-title">Menu</p>

        <ul class="menu-list visually-hidden">
          <li class="menu-list-item">
            <a href="#about-me">About me</a>
          </li>
          <li class="menu-list-item">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="menu-list-item">
            <a href="#projects">Projects</a>
          </li>
          <li class="menu-list-item">
            <a href="#faq">FAQ</a>
          </li>
        </ul>
      </div>

      <div class="order-project-btn">
        <a href="#work-together" class="order-project-link"
          >Order the project</a
        >
      </div>
    </nav>
  </div>
</section>

<div class="mobile-menu">
  <button type="button" class="close-menu menu-close" aria-label="Close menu">
    <svg class="close-menu-icon" width="28" height="28">
      <use href="#close-menu"></use>
    </svg>
  </button>

  <ul class="mobile-menu-list">
    <li class="mobile-menu-item menu-close">
      <a class="mobile-menu-link" href="#about-me">About me</a>
    </li>
    <li class="mobile-menu-item menu-close">
      <a class="mobile-menu-link" href="#benefits">Benefits</a>
    </li>
    <li class="mobile-menu-item menu-close">
      <a class="mobile-menu-link" href="#projects">Projects</a>
    </li>
    <li class="mobile-menu-item menu-close">
      <a class="mobile-menu-link" href="#faq">FAQ</a>
    </li>
  </ul>
  <div class="order-project-mobm">
    <a href="#work-together" class="order-mobm">Order the project</a>
  </div>
</div>
