<section class="section hero-section">
  <div class="container hero-conatiner">
    <h1></h1>
    <ul class="hero-social-list">
      <li class="hero-social-item">
        <a href="https://www.instagram.com/goitclub/" target="_blank">IG</a>
      </li>
      <li class="hero-social-item">
        <a href="https://www.facebook.com/goITclub/" target="_blank">FB</a>
      </li>
      <li class="hero-social-item">
        <a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a>
      </li>
      <li class="hero-social-item">
        <a href="https://github.com/goitacademy" target="_blank">GH</a>
      </li>
      <li class="hero-social-item hero-email">
        <a href="mailto:lloydjefferson@gmail.com" target="_blank"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
