hr {
  stroke-width: 1px;
  background-color: #555;
  width: 1376px;
  height: 1px;
  border: none;
  margin-top: 32px;
}

.about {
  margin-top: 96px;
}
.about-conteiner {
  display: flex;
  justify-content: center;
}
.about-conteiner-fortext {
  border-radius: 24px;
  background: #242527;
  width: 685px;
  margin-right: 16px;
}
.about-conteiner-text {
  font-size: 35px;
  width: 552px;
  margin-top: 64px;
  margin-left: 64px;
}
.about-conteiner-text-span {
  color: #ed3b44;
}

.about-conteiner-text-span1 {
  color: rgba(250, 250, 250, 0.4);
}
.about-conteiner-img {
  display: flex;
  justify-content: end;
}
.about-con {
  display: flex;
  justify-content: center;
}

.arrow-up {
  stroke: #fafafa;
  width: 20px;
  height: 20px;
  stroke-width: 2px;
}

.arrow-down {
  transform: rotate(180deg);
  width: 20px;
  height: 20px;
}
.about-con-list-iteam-sec {
  display: flex;
  justify-content: space-between;
  margin-top: 96px;
  width: 1376px;
  margin-left: 32px;
}
.about-con-list-iteam-pos {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  width: 1376px;
  margin-left: 32px;
}
.about-con-list-iteam-div {
  display: flex;
}
.about-con-list-iteam-sec-icon {
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 10px;
}
.about-con-list-iteam-id {
  width: 600px;
  margin-left: 728px;
  justify-content: end;
}
.about-con-list-iteam-title {
  color: rgba(250, 250, 250, 0.4);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text {
  width: 612px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text1 {
  width: 612px;
  margin-top: 32px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text21 {
  width: 612px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text22 {
  width: 612px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text23 {
  width: 612px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text31 {
  width: 390px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text32 {
  width: 464px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}
.about-con-list-iteam-text33 {
  width: 465px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.about-skills {
  display: flex;
  margin-top: 96px;
  justify-content: center;
}
.about-skills-list-div {
  border-radius: 100px;
  border: 1px solid grey;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.4px;
}
.about-skills-list {
  display: flex;
}

.swiper {
  stroke: #3b3b3b;
  margin-top: 72px;
  margin-left: 72px;
}
@media (max-width: 768px) {
  hr {
    width: 670px;
    margin-top: 22px;
    margin-left: -2px;
  }

  .about {
    margin-top: 4px;
  }

  .about-conteiner {
    display: block;
  }

  .about-conteiner-fortext {
    width: 665px;
    height: 768px;
    /* margin-right: 16px; */
  }
  .about-conteiner-text {
    font-size: 38px;
    width: 576px;
    padding-top: 54px;
    padding-bottom: 300px;
    margin-top: 0px;
    margin-left: 54px;
  }

  .about-conteiner-img img {
    width: 665px;
    height: 700px;
    margin-right: 37px;
  }

  .about-con {
    display: block;
  }

  .about-con-list-iteam-sec {
    width: 635px;
    margin-top: 26px;
    margin-bottom: 7px;
    margin-left: 32px;
  }

  .about-con-list-iteam-pos {
    width: 635px;
    margin-top: 25px;
    margin-left: 32px;
  }

  .about-con-list-iteam-sec-icon {
    display: flex;
    padding: 8px;
  }

  .arrow-up {
    width: 12px;
    height: 12px;
  }

  .arrow-down {
    width: 12px;
    height: 12px;
  }

  .about-con-list-iteam-id {
    width: 645px;
    margin-left: 28px;
  }

  .about-con-list-iteam-title {
    font-size: 16px;
    margin-left: -24px;
  }

  .about-con-list-iteam-text {
    width: 650px;
    margin-top: 5px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text1 {
    width: 650px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text21 {
    width: 650px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text22 {
    width: 650px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text23 {
    width: 650px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text31 {
    width: 645px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text32 {
    width: 650px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-con-list-iteam-text33 {
    width: 650px;
    margin-left: -20px;
    font-size: 14px;
  }

  .about-skills {
    display: flex;
    margin-top: 28px;
    justify-content: center;
  }

  .about-skills-list {
    display: flex;
    flex-wrap: wrap;
    width: 680px;
  }

  .about-skills-list-div {
    width: 170px;
    height: 170px;
    margin-bottom: 25px;
  }

  .about-skills-list-svg {
    margin-top: 56px;
    margin-right: 40px;
  }
}

@media (max-width: 376px) {
  hr {
    width: 336px;
    margin-top: 22px;
    margin-left: -2px;
  }

  .about {
    margin-top: 4px;
  }

  .about-conteiner {
    display: block;
  }

  .about-conteiner-fortext {
    width: 333px;
    height: 468px;
    /* margin-right: 16px; */
  }
  .about-conteiner-text {
    font-size: 21px;
    width: 262px;
    padding-top: 34px;
    padding-bottom: 300px;
    margin-top: 0px;
    margin-left: 34px;
  }

  .about-conteiner-img img {
    width: 333px;
    height: 380px;
    margin-right: 20px;
  }

  .about-con {
    display: block;
  }

  .about-con-list-iteam-sec {
    width: 295px;
    margin-top: 26px;
    margin-bottom: 7px;
    margin-left: 32px;
  }

  .about-con-list-iteam-pos {
    width: 295px;
    margin-top: 25px;
    margin-left: 32px;
  }

  .about-con-list-iteam-sec-icon {
    display: flex;
    padding: 7px;
  }

  .about-con-list-iteam-id {
    width: 345px;
    margin-left: 28px;
  }

  .about-con-list-iteam-title {
    font-size: 12px;
    margin-left: -24px;
  }

  .arrow-up {
    width: 9px;
    height: 9px;
  }

  .arrow-down {
    width: 9px;
    height: 9px;
  }

  .about-con-list-iteam-text {
    width: 312px;
    margin-top: 5px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text1 {
    width: 312px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text21 {
    width: 312px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text22 {
    width: 312px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text23 {
    width: 312px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text31 {
    width: 310px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text32 {
    width: 314px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-con-list-iteam-text33 {
    width: 315px;
    margin-left: -20px;
    font-size: 12px;
  }

  .about-skills {
    display: flex;
    margin-top: 28px;
    justify-content: center;
  }

  .about-skills-list {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
  }

  .about-skills-list-div {
    width: 120px;
    height: 120px;
    margin-bottom: 25px;
  }

  .about-skills-list-svg {
    margin-top: 42px;
    margin-left: 0px;
    margin-right: 10px;
  }
}
