.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

body {
  color: #fafafa;
  background-color: #1c1d20;
}

/* Mobile devices */
.container {
  max-width: 375px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;


}
/* Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    
  }
}
/* Desktop devices */
@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* Mobile devices */
section {
  padding-top: 32px;
  padding-bottom: 32px;
}
/* Tablet devices */
@media only screen and (min-width: 768px) {
  section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
/* Desktop devices */
@media only screen and (min-width: 1440px) {
  section {
    padding-top: 82px;
    padding-bottom: 82px;
  }
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/inter-tight-v7-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-tight-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter Tight';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/inter-tight-v7-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
