.ben-svg-icon{
    
   border-radius: 10px;
width: 48px;
height: 48px;
background-color: red;
}

.list{
list-style: none;;
}
.benefits {
}
.ben-title {
}
.ben-list-card {

background-color: #242527;
border-radius: 20px;
padding: 24px;
width: 344px;
height: 270px;

}
.ben-svg-icon {
}
.ben-li-title {
    
}
.ben-text {
}