.CoversSection {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgb(28, 29, 32);
    overflow: hidden;
}

.VisuallyHidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}