.swiper {
  width: 100%;
  height: 100%;
}

/* ---------slide----------- */

.reviews-tittle {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.9;
  letter-spacing: -0.02em;
  color: #fafafa66;

  margin-bottom: 32px;
}

.cards-list {
  gap: 12px;
}

@media only screen and (min-width: 768px) {
  .cards-list {
    gap: 21px;
  }
}

@media only screen and (min-width: 1440px) {
  .cards-list {
    gap: 14px;
  }

}

.cards-item-natalia,
.cards-item-dmytro,
.cards-item-anna,
.cards-item-ivetta {
  width: 100%;
  max-width: 332px;
  padding: 32px 24px 32px 24px;
  border-radius: 20px;
  border: 1px solid #fafafa33;
  background-color: #1c1d20;
}

.name {
  padding-top: 32px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.text {
  color: #fafafa99;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  padding-top: 8px;
}

/* ---------nav-btn----------- */

.rev-btn {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 32px;
}

@media only screen and (min-width: 768px) {
  .rev-btn {
    gap: 20px;
    margin-top: 64px;
  }
}

.swiper-button-prev-rev-btn,
.swiper-button-next-rev-btn {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background: transparent;
  fill: #1c1d20;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev-rev-btn,
  .swiper-button-next-rev-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
    background: transparent;
    fill: #1c1d20;
  }
}

.swiper-button-prev-rev-btn:disabled,
.swiper-button-next-rev-btn:disabled {
  border: 1px solid #3b3b3b;
  cursor: auto;
}

.swiper-button-prev-rev-btn .arrow-left-rev-btn,
.swiper-button-next-rev-btn .arrow-right-rev-btn {
  stroke: #fafafa;
}

@media only screen and (min-width: 768px) {
  .swiper-button-prev-rev-btn .arrow-left-rev-btn,
  .swiper-button-next-rev-btn .arrow-right-rev-btn {
    width: 32px;
    height: 32px;
  }



    
}

.swiper-button-prev-rev-btn:disabled .arrow-left-rev-btn,
.swiper-button-next-rev-btn:disabled .arrow-right-rev-btn {
  stroke: #3b3b3b;
}

.arrow-left {
  transform: rotate(180deg);
}
