@media only screen and (min-width: 1440px) {
  .work-together-container {
    padding: 0 170px;
  }
}

/* ---------work-together-tittle---------- */

.work-together-img {
  border-radius: 12px;
  width: 44px;
  height: 44px;
}

.work-together-pic-tit {
  position: relative;
}

@media only screen and (min-width: 1440px) {
  .work-together-pic-tit {
    width: 542px;
  }
}

.work-together-picture {
  position: absolute;
  top: -6px;
  left: 0;
}

@media only screen and (min-width: 768px) {
  .work-together-img {
    border-radius: 24px;
    width: 70px;
    height: 70px;
  }
}

.work-together-title {
  display: inline;

  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

@media only screen and (min-width: 768px) {
  .work-together-title {
    font-size: 64px;
  }
}

.work-together-title-poz {
  margin-left: 52px;
}

@media only screen and (min-width: 768px) {
  .work-together-title-poz {
    margin-left: 90px;
  }
}

.work-together-title-accent {
  color: #ed3b44;
}

/* ---------work-together-form---------- */

@media only screen and (min-width: 768px) {
  .work-form {
    display: flex;
    gap: 32px;

    align-items: baseline;

    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .work-form {
    margin-bottom: 36px;
  }
}

.work-form-input {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;

  width: 333px;
  height: 44px;

  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #1c1d20;

  outline: none;
}

@media only screen and (min-width: 768px) {
  .work-form-input {
    width: 245px;
    height: 44px;
  }
}

@media only screen and (min-width: 1440px) {
  .work-form-input {
    width: 390px;
    height: 44px;
  }
}

.work-form-input:hover {
  border-color: #fafafa;
}

.work-form-input:focus {
  border-color: #fafafa;
}

.work-form-email {
  margin-top: 63px;
}

@media only screen and (min-width: 768px) {
  .work-form-email {
    margin-bottom: 0;
  }
}

.work-form-valid-text {
  display: block;
}

.work-form-succes {
  display: inline;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #3cbc81;
}

.work-form-invalid {
  display: inline;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #e74a3b;
}

.work-form-comments {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 32px;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .work-form-comments {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1440px) {
  .work-form-comments {
    margin-right: 54px;
  }
}

.work-form-btn {
  border-radius: 100%;
  border: none;
  color: #fafafa;
  background-color: #ed3b44;

  width: 100px;
  height: 100px;
}

.work-form-btn:hover,
.work-form-btn:focus {
  background-color: #e0373f;
}

@media only screen and (min-width: 768px) {
  .work-form-btn {
    width: 150px;
    height: 150px;
  }
}

/* ---------work-together-contacts---------- */

.work-contacts {
  display: flex;
  gap: 8px;

  margin-top: 74px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .work-contacts {
    margin-top: 0;
    margin-bottom: 139px;
  }
}

@media only screen and (min-width: 1440px) {
  .work-contacts {
    margin-top: 36px;
    margin-bottom: 105px;
  }
}

.work-contacts-email {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;

  width: 178px;
  height: 37px;
}

@media only screen and (min-width: 768px) {
  .work-contacts-email {
    font-size: 16px;
    padding: 18px 32px;
    width: 239px;
    height: 55px;
  }
}

.work-contacts-email:hover {
  border-color: #fafafa;
}

.work-contacts-email:focus {
  border-color: #fafafa;
}

.work-contacts-tel {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;

  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;

  width: 118px;
  height: 37px;
}

@media only screen and (min-width: 768px) {
  .work-contacts-tel {
    font-size: 16px;
    padding: 18px 32px;
    width: 171px;
    height: 55px;
  }
}

.work-contacts-tel:hover {
  border-color: #fafafa;
}

.work-contacts-tel:focus {
  border-color: #fafafa;
}

/* ---------work-together-modal---------- */

#custom-modal.work-modal {
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
  background: #1c1d20;
}

@media only screen and (min-width: 768px) {
  #custom-modal.work-modal {
    padding: 64px;
    width: 492px;
    height: 246px;
  }
}

#custom-modal.work-modal .iziToast-body {
  margin: 0;
  padding: 0;
}

#custom-modal.work-modal .iziToast-text {
  margin: 0;
  padding: 0;
}

#custom-modal.work-modal .iziToast-title {
  margin-bottom: 16px;
  margin-right: 0;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fafafa;
}

#custom-modal.work-modal .iziToast-message {
  margin-bottom: 0;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

#custom-modal.work-modal .iziToast-progressbar {
  height: 0;
}

#custom-modal.work-modal .iziToast-close {
  top: 25px;
  right: 25px;
  width: 20px;
  height: 20px;
}